@import './src/assets/style/utils/reset.scss';
@import './src/assets/style/utils/colors.scss';
@import './src/assets/style/utils/sizes.scss';
@import './src/assets/style/utils/font-weight.scss';
@import './src/assets/style/utils/flex.scss';
@import './src/assets/style/utils/font-size.scss';
@import './src/assets/style/utils/space.scss';

.input_error {
  color: $tomato;
  border: 1px solid $tomato;
  background-color: $tomato-transparent;
}