$tomato: hsl(4, 100%, 67%);
$tomato-transparent: hsla(4, 100%, 67%, 0.2);
$dark-slate-grey: hsl(234, 29%, 20%);
$charcoal-grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);
$startling-orange: hsl(18, 76%, 53%);
$fantasy-romance: hsl(343, 74%, 57%);
$black: hsl(0, 0%, 0%);