@import '/src/assets/style/utils/colors.scss';

.thank_message_wrapper {
  background-color: $dark-slate-grey;
}

.thank-message {
  width: 503px;
  height: 521px;
  background-color: $white;
  border-radius: 30px;
  padding: 47px 64px 64px 64px;
}

.thank-message__img {
  width: 64px;
  height: 64px;
  position: relative;
  right: 155px;
}

.thank-message__text {
  line-height: 1.6;
  margin-bottom: 43px;
}