@import '/src/assets/style/utils/colors.scss';

.newsletter_wrapper {
  background-color: $dark-slate-grey;
}

.newsletter {
  width: 929px;
  height: 642px;
  background-color: $white;
  border-radius: 30px;
}

.news_inner_wrapper {
  margin: 22px;
}

.text_container {
  width: 452px;
  height: 592px;
}

.info_area__text {
  font-size: 16px;
  margin: 0 0 20px 44px;
  line-height: 1.8;
}

.text_list li {
  font-size: 16px;
  margin-bottom: 17px;
  &::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21'%3E%3Cg fill='none'%3E%3Ccircle cx='10.5' cy='10.5' r='10.5' fill='%23FF6155'/%3E%3Cpath stroke='%23FFF' stroke-width='2' d='M6 11.381 8.735 14 15 8'/%3E%3C/g%3E%3C/svg%3E");
    position: relative;
    right: 15px;
    top: 3px;
  }
}

.img_newsletter {
  height: 592px;
}

@media screen and (max-width: 928px) {
  .newsletter {
    width: 100vw;
    height: auto;
    border-radius: 0;
  }

  .news_inner_wrapper {
    flex-direction: column-reverse;
  }

  .text_container {
    display: block;
    height: auto;
  }

  .img_newsletter {
    margin-bottom: 44px;
  }
}

@media screen and (max-width: 375px) {
  .info_area {
    padding: 10px;
  }

  .info_area__title {
    font-size: 3rem;
  }

  .text_list li {
    &::before {
      right: 7px;
    }
  }

  .info_area__text {
    margin: 0 0 20px 37px;
  }
}