@import '/src/assets/style/utils/colors.scss';

.input {
  width: 375px;
  height: 51px;
  border-radius: 10px;
  border: 1px solid hsla(0, 0%, 46%, 0.3);
  font-size: 15px;

  &:focus {
    border: 1px solid #000;
    color: $black;
    background-color: $white;
  };

}

.label {
  font-size: 12px;
}

@media screen and (max-width: 375px) {
  .label {
    padding-left: 18px;
  }
}